import requests

# URL du webhook
webhook_url = "https://discord.com/api/webhooks/1144334527376928848/4wEP0lDcsC4FVy7DiromiqXhQd_Oze-m5WzBAH4sPwY2EORHQ6znfZ-1VnwrhEemofJK"

payload = {
    "username": "Friendly Reminder",
    "avatar_url": "https://imgur.com/FoH0jHu",
    "content": "N'oublie pas de faire un back up des ton /home !\nCommand : rsync -av /home/ utilisateur@serveur_sauvegarde:/chemin/vers/sauvegarde/"
}

response = requests.post(webhook_url, json=payload)

if response.status_code in (200, 201, 202, 203, 204):
    print("Rappel envoyé avec succès.")
else:
    print("Échec de l'envoi du rappel. Code de statut : {}".format(response.status_code))
    print(response.text)
